div.child {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

div.child:hover {
    background-color: blue;
}

input:focus {
    background-color: orange !important;
}

div::selection {
    color: brown;
}

li::after {
    content: '';
    position: absolute;
    width: 20px;
    border-radius: 50%;
    background-color: blueviolet;
    right: 10px;
    top: 30px;
}